<div class="container" ng-controller="WelcomeController">
    <div class="col-md-offset-2">
        <div>
            <h1>{{heading + message}}</h1>
            <p>{{language}}</p>
            <input ng-model="name" type="text" placeholder="Enter your name here">
        </div>
        <div id="buttons">
            <button ng-click="updateMessage()"  class="btn btn-info">Hello</button>
            <button ng-click="goodByeMessage()"  class="btn btn-info">Goodbye</button>
            <button ng-click="changeLanguage()" class="btn btn-warning">Change Language</button>
        </div>
    </div>
</div>